- name: insure than apache is not running
  service: name=apache2 enabled=false state=stopped
  ignore_errors: True

- name: Install nginx required  and helper packages
  package: name={{ item }} state=present
  with_items:
    - nginx
    - uwsgi
    - uwsgi-plugin-python
    - php-fpm
    - libnginx-mod-http-subs-filter

- name: put the config file in place
  template: src={{ item.src}}  dest={{ item.dest }}
  with_items:
     - { src: "server.conf",dest: "/etc/nginx/" }
     - { src: "nginx.conf",dest: "/etc/nginx/" }
     - { src: "usb-lib.conf",dest: "/etc/nginx/conf.d/" }
     - { src: "admin-console.ini",dest: "/etc/uwsgi/apps-enabled/" }
# optional services
     - { src: "kiwix.conf",dest: "/etc/nginx/conf.d/" }

- name: Remove the nginx default config
  file: path=/etc/nginx/sites-enabled/default state=absent

- name: Install config for Admin Console
  template: 
        src=/etc/nginx/sites-available/admin-console.conf
        dest=/etc/nginx/conf.d/admin-conole.conf
  when: admin_console_enabled | bool

- name: remove the links 
  file: src=/etc/nginx/sites-available/kalite-nginx.conf
        dest=/etc/nginx/sites-enabled/kalite-nginx.conf
        state=absent
  when: not nginx_enabled | bool

- name: Make sure nginx picks up the config 
  service: name=nginx state=restarted
  when: nginx_enabled | bool
          
# it might not be installed yet, so ignore errors
- name: Since we stopped apache2, start it again
  service: name=apache2 state=started enabled=True
  when: apache_enabled | bool
  ignore_errors: True
