[Unit]
Description=Make sure udev is operating on RW disk
After=network-online.target

[Service]
ExecStartPre=/bin/systemctl restart systemd-udevd.service
EsecStart=/etc/usbmount/mount.d/70-usb-library /media/usb0

[Install]
WantedBy=multi-user.target
