- name: Install video and audio packages
  package:
    name:
      - pulseaudio
      - simplescreenrecorder
      - youtube-dl
      - openshot
      - pavucontrol
      - gimp
      - ffmpeg
      - cheese
      - vim-gtk3
      - python-flask
    state: present
  tags:
    - download

- name: Add required directories
  file:
      path: '{{ item }}'
      state: directory
  with_items:
      - '{{ production_dir }}/webpack'
      - '{{ production_dir }}/static'
      - '{{ production_dir }}/templates'

- name: Copy the files needed
  copy:
      src: "{{ item.src }}"
      dest: "{{ item.dest }}"
  with_items:
      - { src: "package.json", dest: "{{ production_dir }}/webpack"  }
      - { src: "webpack.config.js", dest: "{{ production_dir }}/webpack"  }
      - { src: "index.html", dest: "{{ production_dir }}/templates"  }
      - { src: "viewer.css", dest: "{{ production_dir }}/static"  }
      - { src: "viewer.js", dest: "{{ production_dir }}/static"  }
      - { src: "videos-wsgi.py", dest: "{{ production_dir }}"  }
      - { src: "__init__.py", dest: "{{ production_dir }}"  }

- name: Install flask with dependencies using pip, into virtualenv
  pip:
    name: 
      - flask 
      - googletrans
    virtualenv: "{{ production_venv }}"
    virtualenv_python: python3
  when: internet_available | bool

- name: Configure Apache to serve wsgi python server for videos metadata update
  template:
      dest: /etc/apache2/sites-available/production.conf
      src: production.conf.apache

- name: Enable the videos config for apache
  file:
      src: /etc/apache2/sites-available/production.conf
      dest: /etc/apache2/sites-enabled/production.conf
      state: link

- name: Get saved local version of ckeditor
  get_url:
      url: '{{ ckeditor_url }}'
      dest: '{{ downloads_dir }}'
  when: internet_available | bool

- name: Get saved video.js which displays closed captions
  get_url:
      url: '{{ iiab_download_url }}../content/videos/video.js'
      dest: '{{ doc_root }}/info/videos/'
  when: internet_available | bool
- name: Expand the ckeditor zip file
  unarchive:
      src: '{{ downloads_dir }}/{{ ckeditor_filename }}'
      dest: '{{ production_dir }}/static'
      creates: '{{ production_dir }}/static/ckeditor'
