#!/bin/bash -x
# use udev rule to create separate wifi devices for upstream and downstream

# check to see if there is mismatch between actual MAC and udev rule
#   -- this is most often created by using an older image on a new rpi
UDEVMAC=`grep macaddress /etc/udev/rules.d/70_persistent-net.rules | cut -d'"' -f6`

# fetch the MAC address
HWADDR=`cat /sys/class/net/wlan0/address`

# now rewrite the udev rule if necessary
if [ ! -f /etc/udev/rules.d/70_persistent-net.rules ] || [ $HWADDR != $UDEVMAC ]; then

	# increment to make a different mac addr
	LAST=${HWADDR: -2}
	INCR=$(( $LAST + 1 ))
	FIRST=${HWADDR:0:15}
	#echo $FIRST$INCR

	# get the channel that is in use -- supplied by upstream wifi
	CHANNEL=`iw wlan0 info|grep channel|cut -d' ' -f2`
	if [ ! -z "$CHANNEL" ]; then
	   sed -i -e "s/^channel.*/channel=$CHANNEL /" /etc/hostapd/hostapd.conf
	fi
	cat << EOF > /etc/udev/rules.d/70_persistent-net.rules
SUBSYSTEM=="ieee80211", ACTION=="add|change", ATTR{macaddress}=="$HWADDR", KERNEL=="phy0", \
    RUN+="/sbin/iw dev wlan0 del", \
    RUN+="/sbin/iw phy phy0 interface add wlan0_ap type __ap", \
    RUN+="/sbin/iw phy phy0 interface add wlan0 type station", \
    RUN+="/sbin/ip link set wlan0 address $FIRST$INCR"
EOF
        # need to reboot for this udev rule to be honored
	echo
	echo "System will need to be rebooted for BOTH upstream and downstream to function"
        sleep 5
        #reboot	
fi
