#location /{{ nodered_web_path }}/debug/ws {
#   proxy_pass /{{ nodered_web_path }}/debug/ws ws://localhost:{{ nodered_port }}/{{ nodered_web_path }}/debug/ws;
#}

#location /{{ nodered_web_path }}/comms {
#   proxy_pass   ws://localhost:{{ nodered_port }}/{{ nodered_web_path }}/comms;
#}

location /{{ nodered_web_path }} {
   proxy_set_header HOST  $host;
   proxy_set_header X-Forwarded-For $remote_addr;
   proxy_pass   http://localhost:{{ nodered_port }}/{{ nodered_web_path }}/;
}
location /red {
   alias /usr/lib/node_modules/node-red/node_modules/@node-red/editor-client/public/red;
}
location /vendor {
   alias /usr/lib/node_modules/node-red/node_modules/@node-red/editor-client/public/vendor;
}
