- name: Make sure the Map Test Page directory exists
  file:
    path: '{{ vector_map_path }}/maplist'
    state: directory
    mode: '0755'

- name: Make space for the viewer
  file:
    path: '{{ vector_map_path }}/viewer/assets'
    state: directory
    mode: '0755'

- name: Fetch the catalog for osm maps
  get_url:
    url: "{{ osm_map_url }}/resources/regions.json"
    dest: /etc/iiab/

- name: Create a link to osm catalog in /common/assets
  file:
    src: "/etc/iiab/regions.json"
    dest: "{{ doc_root }}/common/assets/regions.json"
    state: link

- name: Fetch the javascript bundle with openlayers for test page
  get_url:
    url: "{{ osm_map_url }}/osm-source/test-page/build/main.js"
    dest: '{{ vector_map_path }}/maplist/'

- name: Fetch the index.html for test page
  template:
    src: "index.html"
    dest: '{{ vector_map_path }}/maplist/index.html'

- name: Fetch the javascript bundle with openlayers for Viewer page
  get_url:
    url: "{{ osm_map_url }}/osm-source/regional-base/build/main.js"
    dest: '{{ vector_map_path }}/viewer/'

- name: Fetch the index.html for test page
  get_url:
    url: "{{ osm_map_url }}/osm-source/regional-base/build/index.html"
    dest: '{{ vector_map_path }}/maplist/index.html'

# Bboxes (bounding boxes) are currently square.  But geofabrik has non-rectangular bboxes.
# So bring the bounding box definition from cloud (bboxes.geojson is big)
- name: Fetch the bounding box description for osm maps
  get_url:
    url: "{{ osm_map_url }}/resources/bboxes.geojson"
    dest: '{{ vector_map_path }}/viewer/assets/'

- name: Copy the common assets for the general purpose map viewer
  copy: src={{ item }}
        dest="{{ vector_map_path }}/viewer/assets"
        mode=0644
        owner=root
        group=root
  with_fileglob:
        - assets/*

- name: Copy the fonts for the general purpose map viewer
  copy: src={{ item }}
        dest="{{ doc_root }}/common/fonts/"
        mode=0644
        owner=root
        group=root
  with_fileglob:
        - fonts/*

- name: Install python-geojson package, that helps with geojson
  package:
    name: python-geojson
    state: present

- name: Install the script to update osm catalog
  template:
    src: iiab-update-map
    dest: /usr/bin/iiab-update-map
    mode: "0755"

- name: Copy the Countries geojson to assets
  get_url:
    url: "{{ osm_map_url }}/resources/countries.json"
    dest: '{{ vector_map_path }}/viewer/assets'

#  It is too complicated to use a single file for both iiab and admin-console
- name: Copy the duplicated javascript to assets
  copy:
    src: map_functions.js
    dest: '{{ vector_map_path }}/viewer/'

- name: Install /etc/{{ apache_config_dir }}/osm-vector-maps.conf from template
  template:
    src: osm-vector-maps.conf
    dest: "/etc/{{ apache_config_dir }}/osm-vector-maps.conf"

- name: Create symlink osm-vector-maps.conf from sites-enabled to sites-available (debuntu, not nec for redhat)
  file:
    src: /etc/apache2/sites-available/osm-vector-maps.conf
    path: /etc/apache2/sites-enabled/osm-vector-maps.conf
    state: link
  when: osm_vector_maps_enabled and is_debuntu

- name: Remove symlink /etc/apache2/sites-enabled/osm-vector-maps.conf (debuntu)
  file:
    path: /etc/apache2/sites-enabled/osm-vector-maps.conf
    state: absent
  when: not osm_vector_maps_enabled and is_debuntu

- name: Copy the redirect to the test page -- delete this if more than one map
  copy:
    src: test-index.redirect
    dest: "{{ vector_map_path }}/index.html"

