- name: Make the Satellite directory
  file: 
    path: '{{ satellite_dir }}'
    state: directory

- name: Get the packages
  package:
    name:
      - python3-geojson
      - python3-pil
    state: present

- name: Put the small files
  copy:
     src: '{{ item }}'
     dest: '{{ satellite_dir }}{{ item }}'
  with_items:
     - tileserver.php
     - style-osm.json
     - .htaccess
     - index.html
     - map.css

- name: Get the map_functions version used by admin-console, work toward unification
  file:
     src: /opt/iiab/iiab-admin-console/roles/console/files/js/map_functions.js
     dest: '{{ satellite_dir }}/map_functions.js'
     force: True
     state: link

- name: Get the javascript bundle from unleashkids.org
  get_url:
     url: '{{ sat_download_url }}/content/OSM/vector-tiles/satellite/{{ item }}'
     dest: '{{ satellite_dir }}'
  with_items:
     - main.js
     - planet_z0-z5.mbtiles

- name: Get the javascript bundle from unleashkids.org
  get_url:
     url: 'http://download.iiab.io/content/OSM/vector-tiles/satellite/planet_z0-z5.mbtiles'
     dest: '{{ satellite_dir }}'

  with_items:
     - 'http://download.iiab.io/content/OSM/vector-tiles/satellite/main.js'
     - 'http://download.iiab.io/content/OSM/vector-tiles/satellite/planet_z0-z5.mbtiles'
     
- name: Remove any file which would conflict with creating a link
  file:
     state: absent
     path: '{{ satellite_dir }}detail.mbtiles'

- name: Create link for vector detail.mbtiles
  file:
    src: '{{ satellite_dir }}planet_z0-z5.mbtiles'
    dest: '{{ satellite_dir }}detail.mbtiles'
    state: link

- name: Remove any file which would conflict with creating a link
  file:
     state: absent
     path: '{{ satellite_dir }}regions.json'  

- name: Create a link for regions.json
  file:
    src: /etc/iiab/regions.json
    dest: '{{ satellite_dir }}regions.json'  
    state: link
    force: True
